.header {
    font-size: 20px;
    margin: 14px;
    float: left;
    width: fit-content;
}

.header_container {
    overflow: hidden;
}

.normal{
    font-size: 14px;
    margin:  14px;
}

.dialog_mine {
    all: unset;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    left: unset;
    bottom: unset;
    margin: unset;
    border-width: 0px;
    border-style: unset;
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.smile_button {
  border-style: solid;
  background-color: #4CAF50;
  border-color: #4CAF50;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.smile_button:hover {
  background-color: #7ddb82;
}

.smile_button:select {
  border-color: #4CAF50;
}

.general_button {
  border-style: solid;
  background-color: #4CAF50;
  border-color: #4CAF50;
  border-radius: 4px;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.general_button:hover {
  background-color: #7ddb82;
}

.general_button:select {
  border-color: #4CAF50;
}

.close_button {
    text-align: center;
    float: right;
    overflow: hidden;
    margin: 14px;
    background-color: white;
    border: none;
    color: black;
}

.button_container {
    text-align: center;
}


.h_line {
  margin: 0;
}